{
    # 禁止 Caddy 自动做 HTTP→HTTPS 跳转（避免抢占 80 端口）
    auto_https off
    admin off
}

# 局域网自定义域名，标准 HTTPS 443 端口（无需输端口）
ifoto.cc {
    tls internal

    reverse_proxy ifoto-app:80
}

# Excalidraw 协作室 WebSocket
ifoto.cc:5002 {
    tls internal
    reverse_proxy ifoto-room:5002
}
